<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <br/>
        <li class="sidebar-brand">
            <a class="brandFont" align="center" href="/">  hbars !!!  </a>
        </li>
        <br/>
        <li><a class="menus" align="center" href="/">Technologies</a></li>
        <li><a class="menus" align="center" href="/place">Places</a></li>
        <br><br><br>
        <div align="center">
            <img class="img-circle" src="/images/logo.png"/>
        </div>
        <br/>

    </ul>
</div>
