<!doctype html>
<html>
  <head>
    {{>includeHead}}
  </head>
  <body>
    <div id="wrapper">
        {{>sidebarMenu}}
        <div id="page-content-wrapper">  <!-- Page Content -->
          {{{body}}}
        </div>
    </div>
    {{>includeFoot}}
  </body>
</html>