<html>
 <head>
    {{>includeHead}}
 </head>
 <body><BR><BR>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-0 panel panel-default">
        {{>includeMenu}}
        <h1 align="center" class="margin-base-vertical">{{title}}</h1>
        {{{mytable tabulardata}}}
      </div>
    </div>
  </div>
    {{>includeFoot}}
  </body>
  </html>

  
