<!doctype html>
<html>
 <head>
    {{>includeHead}}
 </head>
 <body><BR><BR>
   {{>includeMenu}}
    <div class="container">
      <div class="row">
        <div class="well">       
          <h1 align="center" class="margin-base-vertical">{{title}}</h1>
          {{{mytable tabulardata}}}
        </div>
      </div>
    </div>
    {{>includeFoot}}
  </body>
  </html>

  
